body {
    font-family: arial;
    background: #6C4AB6;
}

#container {
  
    width: 25vw;
    height: 7vw;
    margin: 12vw auto;
    background: #EEEEEE;
    color: #333;
    border-radius: 10px;
    padding: 60px 50px 100px;
    text-align: center;
    font-size: 30px;
}



#min, #sec, #milisec{
    background: #8D9EFF;
  color: #6C4AB6;
  padding: 8px;
  width: 55px;
  border-radius: 5px;
  margin: 3px;
  display: inline-block;
  margin-left: 10px;
}


#container button {
    font-size: 22px;
    
    border: none;
     
    color: white;
    border-radius: 5px;
    margin-top: 3vw;
    width: 100px;
    height: 50px;
    transition: .3s;
  }

#start{
    background-color: #6C4AB6;
}
#stop{
    background-color: #D61C4E;
}
#reset{
    background-color: #F7A76C;
}
#start:hover {
    background: #8D9EFF;
    color: #fff;
    cursor: pointer;
  }
  #stop:hover {
    background: #FF4949;
    color: #fff;
    cursor: pointer;
  }
  #reset:hover {
    background: #D7A86E;
    color: #fff;
    cursor: pointer;
  }